<p id="portfolio"></p>

<div id="cartaporfoliofondo">
<div class="card text-bg-dark mt-5 mb-3 cartasombra"  >
<div class="card-header  tituloanimado" >
<span style="--i:1">P</span>
<span style="--i:2">o</span>
<span style="--i:3">r</span>
<span style="--i:4">t</span>
<span style="--i:5">f</span>
<span style="--i:6">o</span>
<span style="--i:7">l</span>
<span style="--i:8">i</span>
<span style="--i:9">o</span>
</div>


<div class="card-body flexcartas1" >
<div class="fotosAjedrez">
<p class="card-text text-white letrascel">[Escuela de Ajedrez]</p>
<a href="https://escueladeajedrez.netlify.app/"> <img src="./assets/escuelaajedrez2.png"  class="card-img-top cartaajedrezyvida" alt="..."></a>
</div>
<br>
<div class="fotosAjedrez">
<p class="card-text text-white letrascel">[Vida Sana]</p>
<a href="https://proyectovidasana.netlify.app/"> <img src="./assets/vidasana.jpg" class="card-img-top cartaajedrezyvida" alt="..."></a>
</div>
</div>
</div>
</div>
