
<p id="conocimientos"></p>
<br>
<br>
<br>

<div id="cartaporfoliofondo">
<div class="card text-bg-dark mt-5 mb-3  cartasombra" id="cartatecheight">
<div class="card-header tituloanimado" >
<span style="--i:1">E</span>
<span style="--i:2">d</span>
<span style="--i:3">u</span>
<span style="--i:4">c</span>
<span style="--i:5">a</span>
<span style="--i:6">c</span>
<span style="--i:7">i</span>
<span style="--i:8">ó</span>
<span style="--i:9">n</span>  



<div class="card-body flexcartas2">    
<div class="iconostec">
<img  class=" educacion" src="./assets/codoacodo.jpg">    
<br>
<p class="letrascel">[Codo a Codo FullStack Python - 2022]</p>
<p class="letrascel">[Codo a Codo Curso de React - 2022 ]</p>
</div>

<div class="iconostec">
<img  class=" educacion" src="./assets/ifts.png" > 
<br>   
<p class="letrascel">[Instituto de Formación Técnica Superior - </p>
<p class="letrascel">Tecnicatura en Desarrollo de Software] </p>
<p class="letrascel">Cursando primer año </p>
</div>

<div class="iconostec">
<img  class=" educacion" src="./assets/argentinaprograma.png">    
<br>
<p class="letrascel">[Argentina Programa: FullStack Java]</p>
</div>


</div>
</div>
</div>
</div>


<br>
<br>
<br>
