
<nav class="navbar navbar-expand-lg bg-dark " id="navbar" >
    <div class="container-fluid   ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-light fw-bold " aria-current="page" ><img src="./assets/navfoto2.png"></a>
            </li>

     <div id="itemscel">
      <li class="nav-item">
        <a class="nav-link text-light me-2" href="#presentacionppal">Sobre mí</a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-light me-2" href="#portfolio">Portfolio</a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-light me-2" href="#conocimientos">Conocimientos</a>
       </li>
       <li class="nav-item">
        <a class="nav-link text-light" href="#contacto">Contacto</a>
       </li>
      </div>
      
      <div id="itemspc">
        <li class="nav-item">
         <a class="nav-link text-light me-2" href="#presentacionppal"><p class="fs-5">Sobre mi </p></a>
        </li>
         <li class="nav-item">
         <a class="nav-link text-light me-2" href="#portfolio"> <p class="fs-5">Portfolio</p></a>
         </li>
         <li class="nav-item">
         <a class="nav-link text-light me-2" href="#conocimientos"><p class="fs-5">Conocimientos</p></a>
         </li>
         <li class="nav-item">
          <a class="nav-link text-light" href="#contacto"><p class="fs-5">Contacto</p></a>
         </li>
         </div>
         </ul>
         </div>
         </div>
         </nav>