
<p id="conocimientos"></p>
<br>
<br>
<br>

<div id="cartaporfoliofondo">
<div class="card text-bg-dark mt-5 mb-3  cartasombra" id="cartatecheight">
<div class="card-header tituloanimado" >
<span style="--i:1">T</span>
<span style="--i:2">e</span>
<span style="--i:3">c</span>
<span style="--i:4">n</span>
<span style="--i:5">o</span>
<span style="--i:6">l</span>
<span style="--i:7">o</span>
<span style="--i:8">g</span>
<span style="--i:9">í</span>  
<span style="--i:10">a</span>  
<span style="--i:11">s</span>  </div>


<div class="card-body flexcartas2">    
<div class="iconostec">
<img  class="animacioniconos" src="./assets/htmlicon.png">    
<p class="letrascel">[HTML]</p>
</div>

<div class="iconostec">
<img  class="animacioniconos" src="./assets/bots.png">    
<p class="letrascel">[Bootstrap]</p>
</div>

<div class="iconostec">
<img  class="animacioniconos" src="./assets/cssicon.png">    
<p class="letrascel">[CSS]</p>
</div>


<div class="iconostec">
<img  class="animacioniconos" src="./assets/js1.png">    
<p class="letrascel">[JavaScript]</p>
</div>


<div class="iconostec">
<img  class="animacioniconos" src="./assets/giticon.png">    
<p class="letrascel">[Git]</p>
</div>
</div>
</div>
</div>


<br>
<br>
<br>
