/* You can add global styles to this file, and also import other style files */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none;
    text-align: center;
    }
    

    .educacion {width: 108px !important;}
    
    
    .formulario {display: flex;
    width: 70%!important;
    flex-direction: column;
    margin-left: 0px;
    padding-left: 3rem;}
    
    
    
    #presentacionppal {
      position: absolute;
      top: 40vw;
    }
    
    
    #itemspc {
    position: absolute;
    right:10px;
    display: flex;
    }
    
    
    .flexcartascontacto {
    margin-top: 50px !important;
    margin-left: 0px;
    padding-bottom: 1rem;
    padding-left:0px;
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    width: 95% !important;
    justify-content: space-around !important;
    }
    
    
    
    .tituloanimado{font-size:1.5rem !important;
    background-color: rgb(34, 33, 34);}
    
    
    .tituloanimado span
    {
      position: relative;
      display: inline-block;
      font-size: 40px;
      color: #fff;
      animation: flip 5s infinite;
      animation-delay: calc(.1s * var(--i));
    }
    
    
    @keyframes flip {
      0%,80% {
        transform: rotateY(360deg) ;
      }
    }
      
    
    
    #cartaporfoliofondo  {width: 86% !important;
    font-size: 1.5rem;
    font-family:   'Lato', sans-serif !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    margin: auto;
    }
    
    
    
    .animacioniconos  { padding-bottom: 1rem;
    }
    
    
    .cartasombra {box-shadow: 10px 10px 10px rgb(86, 86, 86);}
    
    
    .flexcartas1 {display: flex;
    justify-content: space-around;
    column-gap: 2rem;
    padding: 3rem;
    }
    
    
    .flexcartas2 {display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
    padding-top:3rem;
    }
    
    
    .flexcartasiconos {display: flex;
    flex-direction: column;
    padding-right: 0px;
    }
    
    
    .cartaajedrezyvida {
    border-radius: 5px !important;
    }
    
    
    .iconostec {display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    
    .iconosdelformulario {display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem !important;
    margin-left: 70px;
    }
    
    
    .iconostec img {
    max-width: 64px !important
      }
    
    
    
    #navbar { position:sticky !important;
    width: 100% !important;
    z-index: 45;
    top:0px !important;
    margin-bottom: 0px !important;
    background-color: rgba(57, 101, 86, 0.963) !important;
    }
    
    
    
    #banners {
    width: 100% !important;
    }
    
    
    .presentacionppal {
    width:100% !important;
    padding: 5px;
    background-color: rgba(159, 161, 155, 0.11);
    font-family:  'Alumni Sans Pinstripe' !important;
    font-size: 35px !important;
    }
    
    
    .presentacion  {
     margin: auto;
     margin-top: 20px;
     }
    
    
    
      a:link, a:visited,  a:hover, a:active
    {
        color: #000000;
        text-decoration: none;
    }
    
    
    #iconostec { 
    text-align: center;
    }
    
    
    /* aca empiezan los media queries*/
    
    @media only screen and (max-width: 991px) {
      
      #itemspc {display: none;}
          
       }
    
     
     
    
    @media only screen and (min-width: 992px) {
      
        #itemscel {display: none;}
            
         }
    
    
    
    
    @media screen and  (max-width:960px) {
    
     #cartaporfoliofondo {width: 99% !important;
     margin: auto;
     box-sizing: border-box !important;
          }
    
    .tituloanimado span {font-size: 30px;}
    
    .presentacionppal {font-size: 26px !important;}
        }
          
    
    @media screen and  (max-width:600px) {
    
    #cartaporfoliofondo {width: 98% !important;
    margin: auto;
    box-sizing: border-box !important;
        }
       
    br { display: none;}
    
    .tituloanimado span {font-size: 28px;}
    
    .presentacionppal {font-size: 26px !important;}
    
    .letrascel {font-size:21px ;}
    
    .flexcartas1, .flexcartas2 {display: flex;
    flex-direction: column;
    }
      }
        
    
     .animacioniconos:hover {
      transform: scale(1.1); 
    }
    
    
    
    #iconostec:hover {
      animation: rotation 4s infinite linear;
    }
    
    
    
    @keyframes rotation {
      from {
          transform: rotate(0deg);
      }
      to {
          transform: rotate(360deg);
      }
    }
    
    
    @media screen and  (max-width:600px) {
     .letrascel {font-size: 17px;
      }
    
      .animacioniconos {width: 80%;}
    
      .iconosdelformulario {margin-left: 19px ;
        padding-top: 15px;}
    
      .formulario {width: 100% !important;
        padding-left: 1rem;
    margin-bottom:15px;
      }
    }